/*--------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------font-&display=swap*/
@import url("https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap");
/*--------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------variables*/
:root {
  --font-family: "Heebo";
  --header-height: 64px;
  --min-width: 320px;
  --max-width: 856px;
  --side-space: 32px;
  
  --bg-color-base: rgb(255, 255, 255);
  --bg-color-pale: rgb(237, 247, 250);
  --bg-color-date: rgb(20, 40, 80);
  --bg-color-border: rgb(224, 224, 224);
  
  --color-primary: rgb(255, 100, 100);
  --color-secondary: rgb(0, 168, 204);

  --text-dark: rgb(33, 36, 61);
  --text-light: rgb(134, 149, 164);
  --text-black: rgb(0, 0, 0);
  --text-white: rgb(255, 255, 255);
}
$burger-width: 767px;
/*--------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------standart*/
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-family), sans-serif;
  color: var(--text-dark);
  &.active {
    overflow: hidden;
  }
}
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.main {
  padding-top: calc(var(--header-height) + 16px);
  width: 100%;
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-base);
  @media (max-width: 599px) {
    padding-top: var(--header-height);
  }
}
.section {
  padding-top: 16px;
  padding-bottom: 16px;
}
.container {
  width: 100%;
  min-width: var(--min-width);
  max-width: calc(var(--max-width) + var(--side-space) * 2);
  margin: 0px auto;
  padding: 0px var(--side-space);
  @media (max-width: 854px) {
    padding: 0px 16px;
  }
}
::-moz-selection {
  text-shadow: none;
  color: var(--color-primary);
  background-color: var(--text-dark);
}
::selection {
  text-shadow: none;
  color: var(--color-primary);
  background-color: var(--text-dark);
}
/*--------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------repeats*/
.heading {
  &__main {
    color: var(--text-dark);
    font-weight: bold;
    font-size: 44px;
    line-height: calc((60 / 44) * 100%);
    @media (max-width: 599px) {
      font-size: 32px;
      line-height: calc((40 / 32) * 100%);
    }
  }
  &__bold {
    color: var(--text-dark);
    font-weight: bold;
    font-size: 30px;
    line-height: calc((44 / 30) * 100%);
    padding-bottom: 16px;
    @media (max-width: 599px) {
      font-size: 24px;
      line-height: calc((30 / 24) * 100%);
    }
  }
  &__thin {
    color: var(--text-dark);
    font-weight: 500;
    font-size: 30px;
    line-height: calc((44 / 30) * 100%);
    padding-bottom: 8px;
    @media (max-width: 599px) {
      font-size: 26px;
      line-height: calc((38 / 26) * 100%);
    }
  }
  &__small {
    color: var(--text-dark);
    font-weight: bold;
    font-size: 26px;
    line-height: calc((38 / 26) * 100%);
    padding-bottom: 32px;
    @media (max-width: 767px) {
      padding-bottom: 16px;
    }
    @media (max-width: 599px) {
      font-size: 22px;
      line-height: calc((30 / 22) * 100%);
      padding-bottom: 12px;
    }
  }
}
.text {
  font-size: 16px;
  line-height: calc((24 / 16) * 100%);
  color: var(--text-dark);
}
.button {
  min-width: 208px;
  height: 48px;
  padding: 16px 8px;
  margin-right: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--text-white);
  font-weight: 500;
  font-size: 20px;
  line-height: calc((28 / 20) * 100%);
  border-radius: 2px;
  background-color: var(--color-primary);
  transition: 0.25s;
  @media (any-hover: hover) {
    &:hover {
      color: var(--text-dark);
      box-shadow: 0px 4px 10px rgba(33, 36, 61, 0.25);
    }
  }
  &:focus {
    color: var(--text-dark);
    box-shadow: 0px 4px 10px rgba(33, 36, 61, 0.25);
  }
}
/*--------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------header*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 32px;
  @media (max-width: 854px) {
    min-height: 4px;
  }
  &.scroll {
    .header__wrapper {
      background-color: rgba(255, 255, 255, 0.85);
      @media (any-hover: hover) {
        &:hover {
          background-color: rgba(255, 255, 255, 0.95);
        }
      }
    }
    .header__body {
      min-height: calc(var(--header-height) - 16px);
      @media (max-width: $burger-width) {
        min-height: calc(var(--header-height) - 8px);
      }
    }
  }
  &__wrapper {
    position: fixed;
    z-index: 50;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: background-color 0.25s ease 0s;
    &.active::before {
      @media (max-width: $burger-width) {
        content: "";
        position: absolute;
        z-index: 12;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.95);
      }
    }
  }
  &__container {
    max-width: calc(1032px + var(--side-space) * 2);
    padding-top: 8px;
    padding-bottom: 8px;
    @media (max-width: $burger-width) {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
  &__body {
    min-height: var(--header-height);
    padding: 8px 0px;
    margin: 0px -16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: min-height 0.25s ease 0s;
    @media (max-width: $burger-width) {
      min-height: calc(var(--header-height) - 8px);
    }
  }
}
.burger {
  &__wrapper {
    display: none;
    @media (max-width: $burger-width) {
      padding: 8px 16px;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 13;
    }
    @media (any-hover: hover) {
      &:hover {
        .burger__line {
          background-color: var(--color-primary);
        }
      }
    }
    &:focus {
      .burger__line {
        background-color: var(--color-primary);
      }
    }
    &.active {
      .burger__line:first-child {
        transform: rotate(45deg) translateY(-50%);
        top: 50%;
      }
      .burger__line:nth-child(2) {
        transform: scale(0);
      }
      .burger__line:last-child {
        transform: rotate(-45deg) translateY(50%);
        bottom: 50%;
      }
    }
  }
  &__body {
    @media (max-width: $burger-width) {
      position: relative;
      width: 32px;
      height: 20px;
    }
  }
  &__line {
    @media (max-width: $burger-width) {
      position: absolute;
      top: 0px;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--text-dark);
      transition: 0.25s;
      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }      
  }
}
.navigation {
  &__wrapper {
    position: relative;
    z-index: 11;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $burger-width) {
      position: absolute;
      padding-top: calc(var(--header-height) - 8px);
      top: -100vh;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(255, 255, 255, 0.95);
      align-items: flex-start;
      overflow: auto;
      transition: 0.5s;
      &.active {
        top: 0;
      }
    }
  }
  &__body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $burger-width) {
      flex-direction: column;
      height: auto;
      padding-top: 16px;
    }
    >li {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:not(:last-child) {
        margin-right: 2px;
        @media (max-width: $burger-width) {
          margin-right: 0px;
        }
      }
    }
  }
  &__link {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    color: var(--text-black);
    font-size: 20px;
    font-weight: 500;
    transition: 0.25s;
    @media (max-width: $burger-width) {
      padding: 16px;
      font-size: 24px;
    }
    @media (any-hover: hover) {
      &:hover {
        color: var(--color-primary);
      }
    }
    &:focus {
      color: var(--color-primary);
    }
    &.active {
      color: var(--color-primary);
    }
  }
}
/*--------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------hello*/
.hello {
  &__body {
    padding-top: 112px;
     padding-bottom: 48px;
    @media (max-width: 854px) {
      padding-top: 64px;
    }
    @media (max-width: 599px) {
      padding-top: 0px;
    }
  }
  &__case {
    display: flex;
    @media (max-width: 599px) {
      flex-direction: column-reverse;
    }
  }
  &__item {
    &:first-child {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      padding-right: 104px;
      @media (max-width: 854px) {
        padding-right: 64px;
      }
      @media (max-width: 767px) {
        padding-right: 16px;
      }
      @media (max-width: 599px) {
        padding-right: 0px;
      }
    }
    &:last-child {
      flex: 0 0 244px;
      @media (max-width: 599px) {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 32px;
      }
      @media (max-width: 479px) {
        flex-basis: 172px;
      }
    }
  }
  &__heading {
    max-width: 460px;
    padding-top: 20px;
    padding-bottom: 28px;
    @media (max-width: 599px) {
      max-width: none;
      text-align: center;
      padding-top: 32px;
      padding-bottom: 24px;
    }
    @media (max-width: 599px) {
      max-width: 288px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__text {
    padding-bottom: 32px;
    @media (max-width: 599px) {
      text-align: center;
      padding-bottom: 24px;
    }
  }
  &__link {
    @media (max-width: 599px) {
      margin-left: auto;
    }
  }
  &__photo {
    position: relative;
    min-width: 244px;
    min-height: 244px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: -8px 12px 0px 0px var(--bg-color-pale);
    @media (max-width: 479px) {
      min-width: 172px;
      min-height: 172px;
      box-shadow: -4px 8px 0px 0px var(--bg-color-pale);
    }
    >img {
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
}
/*--------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------blog*/
.blog {
  background-color: var(--bg-color-pale);
  &__heading {
    padding: 16px 0px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 599px) {
      padding-top: 0px;
    }
    @media (max-width: 479px) {
      justify-content: center;
    }
  }
  &__name {
    color: var(--text-dark);
    font-size: 22px;
    line-height: calc((44 / 22) * 100%);
    transition: 0.25s;
    @media (max-width: 599px) {
      font-size: 18px;
    }
    @media (any-hover: hover) {
      &:hover {
        color: var(--color-secondary);
      }
    }
    &:focus {
      color: var(--color-secondary);
    }
  }
  &__link {
    font-size: 16px;
    line-height: calc((24 / 16) * 100%);
    color: var(--color-secondary);
    display: inline-flex;
    align-items: center;
    @media (max-width: 479px) {
      display: none;
    }
  }
  &__case {
    display: flex;
    justify-content: space-between;
    margin: 0px -12px;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__item {
    flex: 1 1 50%;
    padding: 24px;
    margin: 0px 12px;
    margin-bottom: 16px;
    background-color: var(--bg-color-base);
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    cursor: pointer;
    @media (max-width: 599px) {
      padding: 16px;
    }
  }
  &__date {
    color: var(--text-dark);
    font-size: 18px;
    line-height: calc((26 / 18) * 100%);
    padding-bottom: 16px;
    @media (max-width: 599px) {
      font-size: 16px;
    }
    >span {
      padding: 0px 20px;
      font-weight: 900;
      @media (max-width: 479px) {
        padding: 0px 16px;
      }
    }
  }
}
.blog-item {
  &__date {
    color: var(--text-dark);
    font-size: 20px;
    line-height: calc((28 / 20) * 100%);
    padding-bottom: 12px;
    @media (max-width: 599px) {
      font-size: 16px;
      line-height: calc((24 / 16) * 100%);
    }
    >span {
      padding-left: 20px;
      padding-right: 12px;
      font-weight: 900;
      @media (max-width: 479px) {
        padding: 0px 16px;
      }
    }
    >mark {
      color: var(--text-light);
    }
  }
}
/*--------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------work*/
.work {
  &__heading {
    padding: 16px 0px 0px;
    display: flex;
    justify-content: flex-start;
    @media (max-width: 599px) {
      padding-top: 0px;
    }
    @media (max-width: 479px) {
      justify-content: center;
    }
  }
  &__name {
    color: var(--text-dark);
    font-size: 22px;
    line-height: calc((44 / 22) * 100%);
    transition: 0.25s;
    @media (max-width: 599px) {
      font-size: 18px;
    }
    @media (any-hover: hover) {
      &:hover {
        color: var(--color-primary);
      }
    }
    &:focus {
      color: var(--color-primary);
    }
  }
  &__case {
    display: flex;
    flex-direction: column;
    margin: 0px -16px;
  }
  &__item {
    display: flex;
    align-items: flex-start;
    margin: 0px 16px;
    padding-top: 16px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--bg-color-border);
    margin-bottom: 16px;
    @media (max-width: 599px) {
      flex-direction: column;
      padding-bottom: 16px;
    }
  }
}
.work-item {
  &__image {
    flex: 0 0 244px;
    position: relative;
    width: 240px;
    min-height: 180px;
    border-radius: 6px;
    overflow: hidden;
    @media (max-width: 599px) {
      flex-basis: 100%;
      width: 100%;
      padding-bottom: calc((180 / 240) * 100%);
      margin-bottom: 16px;
    }
    >img {
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
  &__content {
    padding-left: 20px;
    @media (max-width: 599px) {
      padding-left: 0px;
    }
  }
  &__data {
    font-size: 20px;
    line-height: calc((26 / 20) * 100%);
    color: var(--text-light);
    padding-bottom: 20px;
    @media (max-width: 599px) {
      font-size: 16px;
      line-height: calc((24 / 16) * 100%);
    }
    >span {
      padding: 0px 10px;
      margin-right: 24px;
      font-weight: 900;
      font-size: 18px;
      line-height: calc((26 / 18) * 100%);
      color: var(--text-white);
      background-color: var(--bg-color-date);
      border-radius: 16px;
      @media (max-width: 599px) {
        padding: 0px 12px;
        font-size: 16px;
        line-height: calc((24 / 16) * 100%);
      }
    }
  }
}
/*--------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------page*/
.page {
  &__container {
    max-width: calc(680px + var(--side-space) * 2);
  }
  &__body {
    padding-top: 64px;
    @media (max-width: 854px) {
      padding-top: 4px;
    }
    &.small {
      padding-top: 52px;
      @media (max-width: 854px) {
        padding-top: 4px;
      }
    }
  }
  &__heading {
    padding-bottom: 24px;
    @media (max-width: 767px) {
      padding-bottom: 16px;
    }
  }
  &__case {
    display: flex;
    flex-direction: column;
    margin: 0px -16px;
  }
  &__item {
    &__work {
      display: flex;
      align-items: flex-start;
      margin: 0px 16px;
      padding-top: 16px;
      padding-bottom: 48px;
      border-bottom: 1px solid var(--bg-color-border);
      margin-bottom: 24px;
      @media (max-width: 599px) {
        flex-direction: column;
        padding-bottom: 16px;
        margin-bottom: 12px;
      }
    }
    &__blog {
      padding-top: 16px;
      padding-bottom: 20px;
      margin: 0px 16px 16px;
      cursor: pointer;
      border-bottom: 1px solid var(--bg-color-border);
      @media (max-width: 767px) {
        padding-top: 12px;
        margin-bottom: 12px;
      }
    }
  }
}
.page-about {
  &__wrapper {
    padding-bottom: 40px;
    @media (max-width: 854px) {
      padding-bottom: 16px;
    }
    @media (max-width: 599px) {
      padding-bottom: 8px;
    }
  }
  &__heading {
    max-width: 480px;
    margin-right: auto;
    font-size: 34px;
    line-height: calc((50 / 34) * 100%);
    padding-bottom: 32px;
    @media (max-width: 599px) {
      font-size: 30px;
      line-height: calc((40 / 30) * 100%);
      padding-bottom: 24px;
    }
  }
  &__data {
    color: var(--text-dark);
    padding-bottom: 32px;
    @media (max-width: 599px) {
      padding-bottom: 24px;
    }
    >span {
      background-color: var(--color-primary);
    }
  }
  &__text {
    padding-bottom: 40px;
    @media (max-width: 854px) {
      padding-bottom: 24px;
    }
  }
  &__image {
    position: relative;
    width: 100%;
    padding-bottom: calc((460 / 680) * 100%);
    margin-bottom: 24px;
    @media (max-width: 599px) {
      padding-bottom: calc((256 / 340) * 100%);
    }
    >img {
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
}
.page-content {
  &__subheading {
    font-weight: 500;
    font-size: 24px;
    line-height: calc((32 / 24) * 100%);
    padding-bottom: 16px;
  }
  &__text {
    padding-bottom: 32px;
    @media (max-width: 854px) {
      padding-bottom: 24px;
    }
  }
}
/*--------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------footer*/
.footer {
  &__body {
    padding-top: 32px;
    padding-bottom: 32px;
    @media (max-width: 479px) {
      padding-top: 0px;
    }
  }
  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
  }
  &__link {
    padding: 16px;
    margin: 0px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (any-hover: hover) {
      &:hover .footer__svg {
        fill: var(--color-primary);
      }
    }
    &:focus .footer__svg {
      fill: var(--color-primary);
    }
  }
  &__svg {
    width: 32px;
    height: 32px;
    fill: var(--text-dark);
    transition-duration: 0.25s;
  }
  &__copyright {
    &-text {
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }
  }
  &__authors {
    margin-top: 16px;
    &-image {
      text-align: center;
      font-size: 14px;
      color: var(--text-light);
      >a {
        display: inline-block;
        color: var(--text-dark);
      }
    }
    &-website {
      text-align: center;
      font-size: 14px;
      color: var(--text-light);
      line-height: 140%;
      >a {
        display: inline-block;
        color: var(--text-dark);
      }
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/*--------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------end*/
.popup {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  transition-duration: 0.5s;
  opacity: 0;
  visibility: hidden;
  &.active {
    opacity: 1;
    visibility: visible;
    .popup__content {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  &__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
    @media (max-width: 854px) {
      padding: 32px;
    }
  }
  &__content {
    position: relative;
    background-color: #fff;
    color: #000;
    max-width: 720px;
    min-width: 288px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translate(0, -100%);
    transition: 0.5s;
    @media (max-width: 854px) {
      padding: 16px;
    }
  }
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    @media (any-hover: hover) {
      &:hover .popup__svg {
        fill: var(--text-dark);
      }
    }
    &:focus .popup__svg {
      fill: var(--text-dark);
    }
  }
  &__svg {
    fill: var(--color-primary);
    transition-duration: 0.25s;
  }
  &__title {
    padding-bottom: 16px;
  }
  &__extra {
    justify-self: center;
    align-self: center;
    padding: 24px 32px 16px;
    width: 100%;
    max-width: calc(512px + 64px);
    max-height: calc(512px + 64px);
    min-width: 256px;
    min-height: 256px;
    @media (max-width: 767px) {
      padding: 16px;
    }
    @media (max-width: 480px) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  &__photo {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: -8px 12px 0px 0px var(--bg-color-pale);
    @media (max-width: 479px) {
      box-shadow: -4px 8px 0px 0px var(--bg-color-pale);
    }
    >img {
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
}
/*--------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------popup*/